*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    background: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 100px;
    color: #fff;
}
h3{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    margin-top: 50px;
}
h4{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    margin-top: 30px;
}
.flashes li{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    margin-top: 30px;
}

.link-h2:hover{
    cursor: pointer;
    text-shadow: 0 0 10px #ff9100, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 25px #ff0000, 0 0 30px #ff8d00, 0 0 40px #ff0000;
    color: #fff;
}

/* NavBar Styles */

nav {
  margin: auto;
  background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 97%, rgba(51,51,51,0) 100%);
  padding: 5px;
  text-align: center;
  width: 51%;
  position: sticky;
  top: 0px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.3em;
}

nav a:hover {
    text-shadow: 0 0 10px #ff9100, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 25px #ff0000, 0 0 30px #ff8d00, 0 0 40px #ff0000;
    color: #fff;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}

/* Form Styles */

.login a{
    margin: auto;
    margin-top: 20px;
}
.login-form{
    margin: auto;
    margin-top: 30px;
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}
.login-form input{
    width: 100%;
    max-width: 100%;
}
.login-form button{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    max-width: 30%;
}

/* Table Styles */

.table-wrapper{
    margin: auto;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    width: 50%;
    max-width: 50%;
}

.fl-table {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    font-size: 13px;
    font-weight: bold;
}

.fl-table tbody tr:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #ff9100, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 25px #ff0000, 0 0 30px #ff8d00, 0 0 40px #ff0000;
    color: #fff;
}

.fl-table thead th {
    color: #ffffff;
    background: #333333;
}

.fl-table tr:nth-child(even) {
    color: #ffffff;
    background: #595757;
}
.fl-table tr:nth-child(odd) {
    color: #ffffff;
    background: #757575;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}