<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <nav class="fade-in">
        <a href="/">General</a>
        <a href="/users">Jugadores</a>
        <a href="/teams">Equipos</a>
        <a href="/clubs">Clubes</a>
        <a href="/tournaments">Torneos</a>
        <a href="/factions">Facciones</a>
        {% if user %}
            {% if user.permissions >= 12 %}
                <a class="nav-link" href="/add/tournament">Añadir torneo</a>
            {% endif %}
            <a class="nav-link" href="/logout">Desconectarse</a>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="logo"></div>
    {% block content %}
    {% endblock %}
</body>
</html>