{% extends 'base.html' %}
{% block content %}
    {% for fct in factions %}
    <h2 onclick="location.href='/faction/{{ fct.id }}';">{{ fct.name }}</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación Ibericon</th>
            </tr>
            </thead>
            <tbody>
            {% for usFc in usrFct %}
                {% if usFc.UserFaction.factionId == fct.id %}
                    <tr onclick="location.href='/user/{{ usFc.UserFaction.userId }}';">
                        {% for usr in fct.users %}
                            {% if usr.id == usFc.UserFaction.userId %}
                                <td>{{ usr.bcpName }}</td>
                                <td>{{ usFc.UserFaction.ibericonScore }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            <tbody>
        </table>
    </div>
    {% endfor %}
{% endblock %}