{% extends 'base.html' %}
{% block content %}
    <h2>Ranking Individual</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación Ibericon</th>
            </tr>
            </thead>
            <tbody>
            {% for us in users %}
                <tr onclick="location.href='/user/{{ us.id }}';">
                    <td>{{ us.bcpName }}</td>
                    <td>{{ '%0.2f'| format(us.ibericonScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    <h2>Ranking Equipos</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación Ibericon</th>
            </tr>
            </thead>
            <tbody>
            {% for te in teams %}
                <tr onclick="location.href='/team/{{ te.id }}';">
                    <td>{{ te.name }}</td>
                    <td>{{ '%0.2f'| format(te.ibericonScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}