{% extends 'base.html' %}
{% block content %}
    <h2>{{ usr.name }}</h2>
    <h4>{{ usr.ibericonScore }}</h4>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Torneo</th>
                <th>Posición</th>
                <th>Facción</th>
                <th>Equipo</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for tor in tournaments %}
                <tr onclick="location.href='/tournament/{{ tor.tournamentId.id }}';">
                    <td>{{ tor.name }}</td>
                    <td>{{ tor.position }}</td>
                    <td>{{ tor.factionId.name }}</td>
                    <td>{{ tor.teamId.name }}</td>
                    <td>{{ tor.ibericonScore }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}