{% extends 'base.html' %}
{% block content %}
    <h2>{{ usr[0].User.bcpName }}</h2>
    <h4>Puntuación Ibericon: {{ '%0.2f'| format(usr[0].User.ibericonScore) }}</h4>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Torneo</th>
                <th>Posición</th>
                <th>Facción</th>
                <th>Equipo</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for tor in usr[0].User.tournaments %}
                {% for usrTor in usr %}
                    {% if usrTor.UserTournament.tournamentId == tor.id %}
                        <tr onclick="window.open('{{ tor.bcpUri }}', '_blank');">
                            <td>{{ tor.name }}</td>
                            <td>{{ usrTor.UserTournament.position }}</td>
                            {% if usrTor.UserTournament.factionId is not none %}
                                {% for fct in usr[0].User.factions %}
                                    {% if fct.id == usrTor.UserTournament.factionId %}
                                        <td>{{ fct.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if usrTor.UserTournament.teamId is not none %}
                                {% for te in usr[0].User.teams %}
                                    {% if te.id == usrTor.UserTournament.teamId %}
                                        <td>{{ te.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>{{ '%0.2f'| format(usrTor.UserTournament.ibericonScore) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}