{% extends 'base.html' %}
{% block content %}
    <h2>Ranking Individual</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación Ibericon</th>
            </tr>
            </thead>
            <tbody>
            {% for us in users %}
                <tr onclick="location.href='/user/{{ us.id }}';">
                    <td>{{ us.bcpName }}</td>
                    <td>{{ us.ibericonScore }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}